name: Build documentation

on: [push, pull_request, workflow_call]

jobs:
  build-documentation:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: apt-update
      run: sudo apt-get update -qq
    - name: apt-get doxygen
      run: sudo apt-get install -y doxygen
    - name: build doc
      run: make docs
    - name: Upload docs artifact
      uses: actions/upload-artifact@v4
      with:
        name: doc
        path: doc/html
